<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-card class="ion-padding">
    <h1 class="i-tx ion-text-center">We're here to change peoples' lifestyle</h1>
    <h5 class="i-tx ion-text-center">A new way to connecting people who are ready to work with people who need their work done.</h5>
    <ion-img src="assets/icon/other/vision.png"></ion-img>
    <h3 class="i-tx i-heading-3">About Us</h3>
    <p class="i-tx i-detail"><strong>Smart Services</strong> is a community platform that connects skilled/unskilled people who want to sell their services/time to individual users/household/business.
      <br><br>
      Traditional methods that are currently being followed in Pakistan have lot of drawbacks in it. Identifying those loopholes we are revolutionizing the way how people outsource their tasks. We are providing an innovative solution to the problems that almost every household and business faces on day to day basis.
      <br><br>
      <strong>Smart Services</strong> not only empowers people who want to outsource task but provides an equal opportunity to the employees (People who want to complete different tasks). With Smart Services not only skilled labor can register & find tasks, infact unskilled professionals can register and bid for various tasks where skills are not required like pickup & delivery, data entry and others.
      <br><br>
      <strong>Smart Services</strong> is a solution that lets you live an economically stable life by selling your skills to the right people with no capital requirements. For employees, we let you save your precious time and find a right person for your job by looking at his previous job ratings and save your appliances from the brutality of an unskilled worker.</p>
  </ion-card>
</ion-content>
