<ion-header>
  <ion-toolbar color="primary">
    
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>View Request</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-padding" *ngIf="data != null">
    <ion-item lines="full">
      <ion-icon class="i-icon" slot="start" src="assets/icon/label.svg"></ion-icon>
      <ion-label>
        <p style="font-size: 12px;">Title</p>
        <h3>{{data.title}}</h3>
      </ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-icon class="i-icon" slot="start" src="assets/icon/time.svg"></ion-icon>
      <ion-label>
        <p style="font-size: 12px;">Availability</p>
        <h3>jobTime</h3>
      </ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-icon class="i-icon" slot="start" src="assets/icon/time.svg"></ion-icon>
      <ion-label>
        <p style="font-size: 12px;">Availability</p>
        <h3>jobTime</h3>
      </ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-icon class="i-icon" slot="start" src="assets/icon/time.svg"></ion-icon>
      <ion-label>
        <p style="font-size: 12px;">Date Created</p>
        <h3>{{data.dateCreated.seconds*1000 | date :'dd MMM yyyy hh:MM:a'}}</h3>
      </ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-icon class="i-icon" slot="start" src="assets/icon/price.svg"></ion-icon>
      <ion-label>
        <p style="font-size: 12px;">Budget</p>
        <h3>{{data.budget}}</h3>
      </ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-icon class="i-icon" slot="start" src="assets/icon/label.svg"></ion-icon>
      <div>
        <p style="font-size: 12px;">Description</p>
        <h3>{{data.description}}</h3>
      </div>
    </ion-item>
  </ion-card>
  <ion-grid *ngIf="data != null" fixed class="ion-no-padding">
    <ion-row>
      <ion-col size="6">
        <ion-button routerLink='/view-profile/{{employeeUID}}' class="i-button" expand="block">
          View Profile
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="i-button" expand="block">
          <ion-text>
            Order Now
          </ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>