
.i-avatar {
    height: 50px;
    width : 50px;

    .i-avatar-profile {
        height  : 50px;
        width   : 50px;
        margin  : auto;
        position: absolute;
        background-color: var(--ion-color-primary);;

        .i-icon-profile {
            left    : 0;
            right   : 0;
            bottom  : 0;
            top     : 0;
            height  : 35px;
            width   : 35px;
            margin  : auto;
            position: absolute;
            fill: var(--ion-color-light);

        }

        .i-avatar-profile-d {
            left    : 0;
            right   : 0;
            bottom  : 0;
            top     : 0;
            height  : 35px;
            width   : 35px;
            margin  : auto;
            position: absolute;

        }
    }
}

.i-label-name {
    margin-left: 14px;
    font-size: 20px;
}